@use '../tokens/clamp.scss';
@use '../tokens/colors.scss';
@use '../tokens/font.scss';
@use '../tokens/media.scss';
@use '../tokens/typo.scss';
@use './titles.scss';

@import 'modern-normalize/modern-normalize.css';

@import 'colors.css';

@include titles.titles;

html,
body {
  @include font.normal;

  margin: 0;
  height: 100%;
  color: colors.black();
}

p,
ul,
ol {
  @include typo.normal;

  margin: 16px 0;
}

a {
  @include typo.link;

  color: colors.primary(500);

  &:hover {
    color: colors.primary(700);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.1em;
  }
}

em, strong {
  font-style: normal;
  font-weight: 600;
}

@each $breakpoint, $size in media.$breakpoints {
  .hide-smaller-#{$breakpoint} {
    @include media.smaller($breakpoint) {
      display: none !important;
    }
  }

  .hide-larger-or-eq-#{$breakpoint} {
    @include media.larger-or-eq($breakpoint) {
      display: none !important;
    }
  }
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.ReactModal__Overlay {
  background-color: color-mix(in srgb, colors.neutral(300) 50%, transparent) !important;
}

.ReactModal__Content {
  background-color: colors.white() !important;
  border: none !important;
  border-radius: 4px !important;
}
