@use '../tokens/colors.scss' as colors;
@use '../tokens/font.scss' as font;
@use '../tokens/media.scss' as media;
@use '../tokens/typo.scss' as typo;

@import 'modern-normalize/modern-normalize.css';

@import 'colors.css';

* {
  @include font.normal;
  
  color: colors.black();
}

html, body {
  margin: 0;
  height: 100%;
}

p, ul, ol {
  @include typo.normal;

  margin: 16px 0;
}

a {
  @include typo.link;

  color: colors.primary(500);

  &:hover {
    color: colors.primary(700);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.1em;
  }
}

em {
  font-style: normal;
  font-weight: 600;
}

h1 {
  @include typo.heading-1;
}

h2 {
  @include typo.heading-2;
}

h3 {
  @include typo.heading-3;
}

@each $breakpoint, $size in media.$breakpoints {
  .hide-smaller-#{$breakpoint} {
    @include media.smaller($breakpoint) {
      display: none;
    }
  }

  .hide-larger-or-eq-#{$breakpoint} {
    @include media.larger-or-eq($breakpoint) {
      display: none;
    }
  }
}