.container {
  display: inline-block;

  padding: 12px 16px;
  border-radius: 4px;

  background-color: var(--color-white);

  color: var(--color-secondary-500);
  font-family: var(--font-fira-code);
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;

  outline: 2px solid var(--color-transparent);
  box-shadow: 0px 0px 0px 2px var(--color-transparent);
}

.container:hover {
  outline-color: var(--color-secondary-500);
}

.container.active {
  background-color: var(--color-secondary-700);

  color: var(--color-white);
}

.container.active:hover {
  outline-color: var(--color-white);
  box-shadow: 0px 0px 0px 4px var(--color-secondary-700);
}