@use "@/styles/tokens/colors.scss";
@use "@/styles/tokens/text.scss";

.container {
  @include text.button;

  display: inline-block;

  padding: 12px 16px;
  border-radius: 4px;

  background-color: colors.white();

  color: colors.secondary(500);

  outline: 2px solid colors.transparent();
  box-shadow: 0px 0px 0px 2px colors.transparent();

  &:hover {
    outline-color: colors.secondary(500);
  }

  &.active {
    background-color: colors.secondary(700);

    color: colors.white();

    &:hover {
      outline-color: colors.white();
      box-shadow: 0px 0px 0px 4px colors.secondary(700);
    }
  }
}
