@use '@/styles/tokens/media';

.main {
  flex: 1 1 auto;
  overflow-y: auto;

  padding-top: 64px;
  padding-bottom: 48px;

  @include media.smaller('medium') {
    padding-top: 32px;
    padding-bottom: 24px;
  }
}
