@use '../../styles/tokens/animation.scss';
@use '../../styles/tokens/colors.scss';

.container {
  padding: 24px;

  border: 1px solid colors.primary(500);
  border-radius: 6px;

  box-shadow:
    2px 2px 0 0 colors.white(),
    4px 4px 0 0 colors.secondary(500);

  @include animation.animate(box-shadow);

  &:hover {
    box-shadow:
      4px 4px 0 0 colors.white(),
      8px 8px 0 0 colors.secondary(500);
  }

  h2 {
    font-size: 22px;
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.fullheight {
  height: 100%;
}

.linkContainer {
  text-align: right;
}
