@use '@/styles/tokens/colors';

.footer {
  flex: 0 0 auto;

  background-color: colors.neutral(50);
}

.footerContainer {
  padding-top: 24px;
  padding-bottom: 24px;

  * ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  * li {
    color: colors.neutral(600);

    font-size: 12px;
  }
}