name: PR Checks
run-name: PR Checks
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

jobs:
  Unit-Tests:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v5

      - name: Enable Corepack
        run: corepack enable
      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable

      - name: Run Jest unit tests
        uses: willcaul/jest-github-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test-command: 'yarn jest'

  Storybook-Testing:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v5

      - name: Enable Corepack
        run: corepack enable
      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable

      - name: Install Playwright
        run: yarn playwright install --with-deps
      - name: Build Storybook
        run: yarn storybook:build --quiet
      - name: Serve Storybook and run tests
        run: |
          yarn dlx concurrently -k -s first -n "SB,TEST" -c "magenta,blue" \
            "yarn dlx http-server storybook-static --port 6006 --silent" \
            "yarn dlx wait-on tcp:127.0.0.1:6006 && yarn storybook:test"

  Cypress-E2E-Testing:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v5

      - name: Enable Corepack
        run: corepack enable
      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable

      - name: Cypress - E2E testing
        uses: cypress-io/github-action@v6
        with:
          install: false
          start: yarn next:dev

  Check-Deployment:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: eu-central-1
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v5

      - name: Enable Corepack
        run: corepack enable
      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable

      - name: Build OpenNext
        run: yarn run open-next:build

      # Terraform checks
      - uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt
        run: terraform fmt -check
        continue-on-error: true
        working-directory: terraform

      - name: Terraform Init
        run: terraform init -input=false
        working-directory: terraform

      - name: Terraform Validate
        run: terraform validate -no-color
        working-directory: terraform

      - name: Terraform Plan
        run: terraform plan -no-color | tee terraform_plan_output.txt
        continue-on-error: true
        working-directory: terraform

      - name: Print job summary
        uses: sgametrio/terraform-summary-action@main
        with:
          title: 'Terraform Plan'
          log-file: terraform/terraform_plan_output.txt

  NoDraftPullRequests:
    if: github.event.pull_request.draft == true
    runs-on: ubuntu-latest
    steps:
      - name: Fails in order to indicate that pull request needs to be marked as ready to review and unit tests workflow needs to pass.
        run: exit 1
