name: Publish website prod
run-name: Publish website prod
on:
  push:
    branches:
      - main

concurrency:
  group: prod-deploy

jobs:
  Deploy:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: eu-central-1
    defaults:
      run:
        working-directory: terraform
    steps:
      - uses: actions/checkout@v5

      # Building website for open-next to plan the Terraform arch
      - name: Enable Corepack
        run: corepack enable
      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 22.21.1
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build OpenNext
        run: yarn run open-next:build

      # Terraform checks
      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        id: init
        run: terraform init -input=false

      - name: Terraform Apply
        id: apply
        run: terraform apply -input=false -auto-approve
